<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Centros Educativos</span>
    <span class="example-spacer"></span>
   
  </mat-toolbar>
</p>
