<main>


  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Crear usuario">
      <h3>Crear usuario</h3>
      <form class="example-form" [formGroup]="profileForm" autocomplete="off" (submit)="onSubmitt()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Primer nombre</mat-label>
          <input matInput placeholder="Tu Primer Nombre" value="Primer Nombre" formControlName="Nombre1">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Segundo Nombre</mat-label>
          <input matInput placeholder="Tu Segundo Nombre" value="Segundo Nombre" formControlName="Nombre2">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Primer Apellido</mat-label>
          <input matInput placeholder=" tu primer apellido" value="Primer Apellido" formControlName="Apellido1">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Segundo Apellido</mat-label>
          <input matInput placeholder="Tu Segundo apellido" value="Segundo Apellido" formControlName="Apellido2">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Identificacion</mat-label>
          <input matInput placeholder="Tu Identificacion" formControlName="Identificacion">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Tu Email" value="Email" formControlName="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Direccion </mat-label>
          <input matInput placeholder="Tu Direccion" value="Direccion" formControlName="Direccion">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ciudad </mat-label>
          <input matInput placeholder="Tu Ciudad" value="Ciudad" formControlName="Ciudad">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Celular </mat-label>
          <input matInput placeholder="Tu Celular" value="Celular" formControlName="Celular" type="email">
        </mat-form-field>
        <section>
          <div mat-dialog-actions>
            <button mat-raised-button color="primary" color="primary" [disabled]="!profileForm.valid"
              type="submit">Acualizar</button>
            <button mat-button mat-dialog-close>Cerrar</button>
          </div>
        </section>

      </form>

    </mat-tab>
    <mat-tab label="Cursos Inscritos">
      <h3>Cursos Inscritos</h3>
      <section>
          <table>
              <tr *ngFor="let item of cursosActivos">
                  <td>{{item.nombreCurso}}</td>
                  <td (click)="EliminarCurso(item.idUsuarioCursos)">
                    <button mat-raised-button color="warn">Desuscribir curso | {{item.idUsuarioCursos}}</button> 
                  </td>
              </tr>
          </table>
      </section>
    </mat-tab>
    <mat-tab label="Cursos para inscribir">
      <h3>Cursos para inscribir</h3>
      <section>
        <table>
            <tr *ngFor="let item of cursosNuevos">
                <td>{{item.nombreCurso}}</td>
                <td>{{item.numeroCreditos}}</td>
                <td (click)="InscribirCurso(item.idCursos)">
                    <button mat-raised-button color="primary">Inscribir curso | {{item.idCursos}}</button>  </td>

            </tr>
        </table>
    </section>
    </mat-tab>
  </mat-tab-group>

</main>
