<main>
  <button mat-raised-button (click)="openDialog()">Crear Usuario</button>

  <section>
   <!-- <mat-selection-list #usuario [multiple]="false">
      <mat-list-option *ngFor="let item of usuarios" [value]="item.nombre1">
        {{item.nombre1}} {{item.nombre2}} {{item.apellido1}} {{item.apellido2}}
      </mat-list-option>
    </mat-selection-list>-->


  </section>
  <br>
  <mat-divider></mat-divider>
<br>


  <table  class="mat-elevation-z8" style="width: 100%;">
    <thead>
      <tr>
        <th>
          Primer Nombre
        </th>
        <th>
          Segundo Nombre
        </th>
        <th>
          Primer Apellido
        </th>
        <th>
          Segundo Apellido
        </th>
        <th>
          Email
        </th>
        <th>
          Celular
        </th>
        <th>
          Identificación
        </th>
        <th>
          Direccion
        </th>
        <th>
          Ciudad
        </th>
        <th>
          Acción
        </th>
      </tr>
    </thead>
   
    <tr *ngFor="let item of usuarios">
      <td>
        {{item.nombre1}}
      </td>
      <td>{{item.nombre2}}</td>
      <td>{{item.apellido1}}</td>
      <td>{{item.apellido2}}</td>
      <td>{{item.email}}</td>
      <td>{{item.celular}}</td>
      <td>{{item.identificacion}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.ciudad}}</td>
      <td (click)="edit(item.idUsuario)">
        <button mat-raised-button color="accent">Editar</button>


      </td>
    </tr>
  </table>

<br>


</main>
<!--
<a [routerLink]="['./faqs']">faqs</a>
<a [routerLink]="['./auth/login']">Login</a>
-->
