<footer>
  <div>
    Andres R.
  </div>
  <div>
    <mat-list>
      <div mat-subheader>Datos</div>
      <mat-list-item >
        <mat-icon mat-list-icon>
          <img src="./assets/images/Work.svg">

        </mat-icon>
        <div mat-line> celular: 321 398-9368 </div>
        <div mat-line> email: andresrojas566@gmail.com </div>
      </mat-list-item>
      <mat-divider></mat-divider>
     
      
    </mat-list>
  </div>

</footer>
<div style="background:#AC48E9; color:#fff; width: 100%; padding:20px;">
  Términos y Condicines I 2021

</div>
