/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~ngx-toastr/toastr';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.banner {
  position: relative;
  height: 485px;
}

.titleBanner {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin: 10px 0 10px 0;
}

.captionBanner {
  font-size: 16px;
  color: #fff;

  font-weight: 400;
}

.textBanner {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.imagesBanner {
  filter: brightness(80%);
  height: 485px;
  object-fit: cover;
  object-position: 0;
  width: 100%;

}

/* Ellipse 3 */

.headProfil {
  position: absolute;
  left: 38.94%;
  right: 27.96%;
  top: 15.33%;
  bottom: 47.57%;
  background: #6F6F70;
  mix-blend-mode: normal;
  opacity: 0.4;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.bodyPrifil {
  position: absolute;
  left: 31.67%;
  right: 22.69%;
  top: 45.23%;
  bottom: 27.33%;
  width: 46px;
  height: 19px;
  border-radius: 100%;
  background: #6F6F70;
}

.ellipse {
  position: relative;
  width: 119px;
  height: 119px;
  margin: auto;
  border-radius: 100%;

  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(126, 126, 126, 0.25);
}
.ellipse2 {
  position: relative;
  width: 119px;
  height: 119px;
  margin: auto;
  border-radius: 100%;

  background: #FFFFFF;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  carousel.carousel{
      z-index: 900;
  }

footer{
    background: #f1f1f1;
    margin:  0px 0 0  0;
    padding:  25px 20px 0 20px;
}